body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}

.background-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    
    background-image: url('foto-18mp.jpg');
    background-size: cover;
    background-position: center;
    
    filter: blur(8px);
    transform: scale(1.05);
}


.carousel-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth; 
}

.slide {
    min-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    scroll-snap-align: start; 
    
    background-color: rgba(255, 255, 255, 0.4); 
}

.slide img {
    max-width: 90%;
    max-height: 80%; 
    object-fit: contain; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.caption {
    position: absolute;
    bottom: 5vh;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 5px;
}
